[Unit]
Description = Antigravity IDE Proxy
Documentation = https://github.com/dijey099/ag-proxy
After = network.target
 
[Service]
User = root
Type = simple
WorkingDirectory = /opt/ag-proxy
SyslogIdentifier = AGProxyServer
ExecStart = /usr/local/bin/gunicorn \
				--workers 4 \
				--threads 3 \
				--access-logfile /var/log/ag-proxy/request.log \
				--log-file /var/log/ag-proxy/proxy.log \
				-b 0.0.0.0:9099 ag_proxy:app
 
[Install]
WantedBy = multi-user.target
